<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>e-learning</title>
    <style>
        body{
            background-image: url("https://www.transperfect.com/sites/default/files/learning-cover-1-fin.jpg");
            background-size: cover;
            position: relative;
        }
        body:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(252,252,252,0.6);
            z-index: -1;
        }
    </style>
</head>
<body>
<div align="right">
    <a href="/logout">logout</a>
</div>
<div align="center">
    <a href="/">Modules list</a>
    <h1>teacher List</h1>
    <a href="/t/new">Add New teacher</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Module ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Edit/Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teacherList}">
            <td th:text="${teacher.id}">Product ID</td>
            <td th:text="${teacher.getFirstname()}">first name</td>
            <td th:text="${teacher.getLastname()}">last name</td>
            <td th:text="${teacher.getEmail()}">email</td>

            <td>
                <a th:href="'/t/edit/' + ${teacher.getId()}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="'/t/delete/' + ${teacher.getId()}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>